<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="bg-teal-900 text-zinc-200">
      <h1 class="text-5xl p-5">Forum4U</h1>
      <nav class="flex p-5 gap-3">
        <a class="hover:scale-[1.1] px-2" href="/">Home</a>
        <a class="hover:scale-[1.1] px-2" href="/dashboard">Dashboard</a>
        <a class="hover:scale-[1.1] px-2" href="/login">Login</a>
        <a class="hover:scale-[1.1] px-2" href="#">Logout</a>
      </nav>
    </header>
    {{{body}}}
    <footer></footer>
  </body>
</html>